header {
  background-color: #cccccc;
  width: 100vw;
  height: 15vw;
}
#head1 {
  background-color: #000000;
  width: 100vw;
  height: 10vw;
  color: #ffffff;
  font-size: 3em;
}
#head2 {
  background-color: #595959;
  width: 100vw;
  height: 5vw;
  color: #ffffff;
  font-size: 2em;
  text-align: center;
}
main {
  background-color: #808080;
  width: 100vw;
  height: 75vw;
}
#form {
  width: 60vw;
  left: 20vw;
}
#searchBtn {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
}
footer {
  background-color: #000000;
  width: 100vw;
  height: 10vw;
}